* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  font-size: 1.2rem;
  color: white;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body {
  min-height: 100vh;
  background-color:rgb(90, 153, 205);
}


.container {
  margin: 50px auto;
  max-width: 1280px;
  width: 100%;
}

/* CSS das tabelas */
section h1 {
  width: 100%;
  font-size: 2.2rem;
  text-align: center;
}

table {
  margin: 50px 0;
  width: 100%;
  border-collapse: collapse;
}

tr {
  background: transparent;
}


td, th {
  border: 1px solid white;
  background-color: #9111b1;
  padding: 20px;
}

thead th {
  text-align: left;
  font-weight: 700;
  color: white;
}

td input[type=submit] {
  padding: 10px 20px;
  color: white;
  background: transparent;
  border: 1px solid white;
}

input[type=text],
input[type=number]
 {
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: transparent;
  border: 1px solid white;
}

/* Fim CSS das tabelas */
